<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
	xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

  	<bean id="myBean"
		class="org.camunda.bpm.extension.osgi.application.TestBean" />

	<bean id="elResolver"
		class="org.camunda.bpm.extension.osgi.application.TestBlueprintBundleLocalELResolverImpl">
		<property name="blueprintContainer" ref="blueprintContainer" />
	</bean>

	<service ref="elResolver"
		interface="org.camunda.bpm.extension.osgi.application.TestBlueprintBundleLocalELResolver" />

</blueprint>